html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color:white;
  list-style: none;
}

body {
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: center;
}

main {
    margin-top: 10%;
}

section {
    max-width: 980px;
    min-height: 750px;
    /* border: white 2px solid; */
}

section h1 {
    font-size: 4.5rem;
    font-weight: 900;
    padding: 10px;
}

/* hero section -----------------*/

#landing {
    display: flex;
    /* justify-content: space-between; */
}


#main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 6rem;
    height:50%;
    width:55%;
}

#main-text h1 {
    font-size: 60px;
}

#main-text p {
    margin: 10px;
    font-size: 24px;
}

#main-text button {
    width: fit-content;
    padding: 15px 35px 15px 35px;
    background-color: rgb(212, 44, 44);
    border-radius: 10px;
    color:white;
    transition: background-color 0.5s;
}

#main-text button:hover {
    /* transition-delay: 0.3s; */
    background-color: rgb(184, 40, 40);
    cursor: pointer;
}

.img-container {
    clip-path: polygon(30% 10%, 70% 5%, 90% 30%, 95% 70%, 85% 90%, 60% 95%, 10% 70%, 5% 30%);
    overflow: hidden;
    width: fit-content;
}


/*-------------skills------------------*/

.skills {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap:1.5rem;
}

.skills li{
    padding: 16px;
    height: 174px;
    border: hsla(0, 0%, 100%, .2) 0.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.skills li h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

.plus {
    position: absolute;
    width: 1.5rem;
}

.top-right {
    right:-0.75rem;
    top:-0.75rem;
}
.top-left {
    left:-0.75rem;
    top:-0.75rem;
}
.bot-right {
    right:-0.75rem;
    bottom:-0.75rem;
}
.bot-left {
    left:-0.75rem;
    bottom:-0.75rem;
}

.icon-back {
    background: radial-gradient(circle, rgba(19, 18, 18, 0.7) 0%, rgba(19, 18, 18, 0.7) 50%, transparent 100%);
    /* background-color: rgba(19, 18, 18, 0.7); */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}

.color-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    background-image: linear-gradient(to right, #34d399, #4f46e5);
    opacity: 0;
    backdrop-filter: blur(20px);
    transition: opacity 0.5s;
    mask-image: radial-gradient(250px at 255.5px 59.5px, white, transparent);
}

.skills li:hover .color-back {
    opacity: 1;
}

/* ----------about------------*/

#about p {
    font-size: 1.2rem;
    padding:25px;
    line-height: 2rem;
}

/* ----------projet------------*/

.project {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap:3rem;
}

.project li{
    padding: 10px;
    border: white 0.5px solid;
    border-radius: 25px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}

.project img {
    border: hsla(0, 0%, 100%) 1px solid;
    border-radius: 10px;
    max-height: 50%;
}

@media (min-width: 768px) {
    .skills {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .project {grid-template-columns: repeat(2, minmax(0, 1fr));}
}
@media (min-width: 1024px) {
    .skills {grid-template-columns: repeat(3, minmax(0, 1fr));}
    .project {grid-template-columns: repeat(3, minmax(0, 1fr));}
}